body, html{
    height: 100%;
    background: #fafafa;
}
.bg {
    /* Full height */
    height: 100%;

    /* The image used */
    background-image: url('../img/background_theme2.png');
    opacity: 0.8;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}